[Unit]
Description=Update interfaces configuration
Requires=namespace@0.service namespace@1.service namespace@2.service namespace@3.service namespace@4.service namespace@5.service
After=namespace@0.service namespace@1.service namespace@2.service namespace@3.service namespace@4.service namespace@5.service
#Requires=updategraph.service
#After=updategraph.service

[Service]
Type=oneshot
ExecStart=/usr/bin/interfaces-config.sh

[Install]
WantedBy=multi-user.target
